body{
	margin: auto;
	padding: 10px;

}
h1{
	text-align: center;
	font-weight: bold;
	color: blue;
	text-transform: uppercase;
	font-size: 0.4cm;
}
p{
 font-style: italic;
}


h2{
	text-align: center;
	text-decoration: underline;
	color: rgb(0,247,255);
}


a{
	color: green ;
}


.lien{
	color: red;
}
.espace{
	padding-top: 2cm;
	padding-bottom: 2cm;
}

